* {
    box-sizing: border-box;
    font-family: 'Roboto', monospace;   
}

html, body {
    margin: 0;
    height: 100vh;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
}